<%=
  form_for :tweet,  '/tweets' do

    div class: 'input' do
      label :content
      text_area :content, required: true, placeholder: "Remember, be nice!"
    end

    div class: 'controls' do
      submit 'Send Bark ðŸ•', class: 'button-primary', name: 'button_pressed', value: 'true'
    end
  end
  
%>



<!--   <a href="/tweets/new">Tweet</a> -->
<% if tweets.any? %>

<div id="tweets">

    <% tweets.each do |tweet| %>
    <div class="tweet">
    <h4><%= tweet.content %></h4>
    <span><%= tweet.created_at %></span>
    <p>Created by: <%= tweet.created_by%> </p>
    <span><a href="/tweets/<%= tweet.id %>"/>Read more </a></span>
    </div>
  <% end%>
  </div>
  <%end %>


