<% unless tweet.nil? %>

<div class="tweet being-read">
    <p><a href="/tweets/user/<%= tweet.user_id%>/tweets">@<%= tweet.user_id%></a></p> 
    <h3><%= tweet.content %></h3>
    <span>Created at: <%= tweet.created_at %></span>
    <%if session.fetch(:user_id) == tweet.user_id %>
    <div class="controls">
        <a href="/tweets/<%=tweet.id%>/edit"><button class="button-primary_edit">Edit tweet</button></a>
        <a href="/tweets/<%=tweet.id%>/delete/verify"><button class="button-primary_warning">Delete tweet</button></a>
    </div>
    <%end%>
    </div>

<% else%>
<% end %>