<h1>User</h1>
<h4><%=user.fetch(:id)%></h4>

<% if user_tweets.any? %>
<div id="tweets">

<% user_tweets.each do |tweet| %>
    <div class="tweet">
    <h4><%= tweet.content %></h4>
    <span><%= tweet.created_at %></span>
    <%if session.fetch(:user_id) == tweet.user_id %>
      <div class="controls">
        <a href="/tweets/<%=tweet.id%>/edit"><button class="button-primary_edit">Edit tweet</button></a>
        <a href="/tweets/<%=tweet.id%>/delete/verify"><button class="button-primary_warning">Delete tweet</button></a>
      </div>
    <%end%>
    </div>
  <% end%>
  </div>
  <%end %>
